@import "tailwindcss";

#Header {
  background-color: #81c66c;
  border-bottom: 3px solid #547970;
  /*margin-bottom: 60px;*/
}

#mission {
  background-color: #272b74;
  color: white;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
